body {
	background: #6688cc;
}
.slider {
	margin: 0 auto;
	height: 300px;
	width: 100%;
	max-width: 1200px;			// Apibrėžia maksimalų imanomą plotį
	background-color: #fff;
}
.sliderCnt {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;			// Paslepia turinį, kuris yra už konteinerio ribų
}
.sliderCnt li{
	padding: 0;
	height: 100%;
}
.sliderCnt li {
	display: none;				// Konteineris padaromas nebeegzistuojančiu
}
.sliderCnt li:first-child {
	display: block;
}
.sliderCnt li>a {
	display: block;
	padding: 0;
	text-decoration: none;
}
.sliderCnt li>a>img {
	position: absolute;
	width: 100%;
	object-fit: contain;
}
.sliderCnt h2 {
	position: relative;
	margin: 0;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
.sliderCnt .cont {
	position: relative;
	margin: 0;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.mainMenuCnt {
	width: 100%;
	height: 50px;
	background-color: #aacc33;
	background-color: rgb('80', '80','80');
}
.mainMenuCnt ul {
	margin: 0;
	padding: 0;
}
.mainMenuCnt ul li {
	display: inline-block;
	padding: 10px 15px;
}