body {
	background: #eef5ff;
}
.slider {
	margin: 0 auto;
	height: 300px;
	width: 100%;
	max-width: 1200px;			/* Apibrėžia maksimalų imanomą plotį */
}
.sliderCnt {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;			/* Paslepia turinį, kuris yra už konteinerio ribų */
}
.sliderCnt li {
	padding: 0;
	height: 100%;
	display: none;				/* Konteineris padaromas nebeegzistuojančiu */
	mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}
.sliderCnt li:first-child {
	display: block;
}
.sliderCnt li>a {
	display: block;
	padding: 0;
	text-decoration: none;
}
.sliderCnt li>a>img {
	position: absolute;
	margin-top: -25%;
	width: 100%;
	object-fit: contain;
}
.sliderCnt h2 {
	position: relative;
	margin: 0;
	padding: 100px 100px 0;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
.sliderCnt .cont {
	position: relative;
	margin: 0;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

.mainMenuCnt {
	position: relative;
	width: 100%;
	height: 50px;
	background-color: #ddff66;
}
.mainMenuCnt2 {
	margin: 0 auto;
	max-width: 1024px;
	min-width: 320px;
	height: 100%;
}
.mainMenuCnt ul {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.mainMenuCnt ul li {
	display: inline-block;
	padding: 15px 15px;
	line-height: 20px;
	font-size: 20px;
	font-weight: bolder;
}